.imagem__carrossel-um {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}

.imagem__carrossel-dois {
  object-fit: cover;
  height: 400px;
}

.fonte__titulo {
  font-family: 'Pacifico', cursive;
}

.cor-especial {
  color: darkred;
}

.botao-cor-especial {
  background-color: darkred;
  color: white;
}

.borda-cor-especial {
  border-color: darkred;
}