.imagem__carrossel-um {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}

.imagem__carrossel-dois {
  object-fit: cover;
  height: 400px;
}

.fonte__titulo {
  font-family: 'Pacifico', cursive;
}

.cor-especial {
  color: darkred!important;
}

.botao-cor-especial {
  background-color: darkred;
  color: white;
  border-color: transparent;
}

.botao-cor-especial:hover {
  background-color: rgb(184, 7, 7);
  color: white;
  border-color: transparent;
}

.borda-cor-especial {
  border-color: darkred;
}

.card-tamanho {
  max-width: 18rem;
}

.card__imagem {
  object-fit: cover;
  height: 200px;
}